demo/android/DemoLoginMVVM/.idea/vcs.xml
demo/android/DemoLoginMVVM/.idea/runConfigurations.xml
demo/android/DemoLoginMVVM/.idea/misc.xml
demo/android/DemoLoginMVVM/.idea/gradle.xml
demo/android/DemoLoginMVVM/.idea/codeStyles/Project.xml
v1/Android/BookLibrary/.idea/sonarlint/issuestore/0/6/06d873598615352ee24a9f6cef99bf380dba38e6
v1/Android/BookLibrary/.idea/sonarlint/issuestore/0/d/0d89acbcc72d39d6916fd1e00ef4845692e54e0e
v1/Android/BookLibrary/.idea/sonarlint/issuestore/3/2/32bdd9edd076dee5017e22f57b24dd015b5d81c5
v1/Android/BookLibrary/.idea/sonarlint/issuestore/5/2/52b36784a663d07212048a66319602a676695c36
v1/Android/BookLibrary/.idea/sonarlint/issuestore/f/4/f4a01d6a4fcb971362ec00a83903fd3902f52164
demo/android/DemoLoginMVVM/.idea/
v2/Android/BookLibrary/.idea/
demo/android/
